@import 'src/styles/variables.scss';

.auth {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--menuTextColor);
    border-radius: 5px;
    padding: 20px;
  }

  &__title {
    font-size: 20px;
    color: var(--menuTextColor);
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 10px !important;
  }

  &__btn {
    color: var(--menuTextColor) !important;
  }
}

