@import 'src/styles/variables.scss';

.chat {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    align-items: flex-start;
  }

  &__textarea {
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--borderChat);
    border-radius: 5px;
    box-sizing: initial;
    overflow-y: auto;
  }

  &__message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__message {
    align-self: flex-start;
    margin-bottom: 10px;
    background-color: var(--templateBackColor);
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--menuTextColor);

    &_self {
      align-self: flex-end;
      background-color: var(--chatMessage);
    }
  }


  &__input-block {
    position: relative;

    input {
      width: 300px;

      @media (max-width: 500px) {
        width: 250px;
      }
    }
  }

  &__sendBtn {
    background-color: var(--fon);
    position: absolute;
    width: 40px;
    height: 40px;
    right: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    border: 1px solid var(--borderChat);
    border-radius: 50%;
  }
}

.sendIcon {
  color: var(--menuTextColor);
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--borderChat) !important;
}
.MuiInputBase-input {
  color: var(--menuTextColor) !important;
}
.MuiFormLabel-root {
  color: var(--menuTextColor) !important;
}